.days {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &__item {
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    background: #77b3ed;
    color: #fff;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #92aaf1 !important;
    }

    &_dark {
      background: #daa45e !important;

      &:hover {
        background-color: #daa45ea6 !important;
      }
    }
  }

  &__day {
    text-align: center;
    font-size: 35px;
    color: #fff;
  }

  &__temp {
    column-gap: 10px;
    margin-bottom: 12px;
  }
  &__tempMin,
  &__tempMax {
    font-size: 24px;
    & > span {
      font-size: 16px;
    }
  }
  &__tempMin,
  &__tempMax,
  &__tempAvg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tempAvg {
    flex-direction: column;
    font-size: 35px;
    & > span {
      font-size: 26px;
    }
  }
}
